<% @page_title = "You can't join #{@join_code.account.name} right now." %>

<div class="panel panel--centered flex flex-column gap-half">
  <h1 class="txt-x-large font-weight-black margin-none"><%= @page_title %></h1>

  <p class="txt-medium">This join code has no invitations left on it.</p>

  <p class="txt-medium">
    <%= link_to "Check out Fizzy", "https://www.fizzy.do" %>.
  </p>
</div>

<% content_for :footer do %>
  <%= render "sessions/footer" %>
<% end %>
