<div class="card__tags flex-item-grow flex-item-no-shrink min-width">
  <div class="overflow-ellipsis">
    <% if card.tags.any?  %>
      <span># </span>
      <% card.tags.each_with_index do |tag, index| %>
        <span class="card__tag btn btn--plain min-width txt-uppercase fill-transparent overflow-ellipsis">
          <%= tag.title %>
        </span>
      <% end %>
    <% end %>
  </div>
</div>
