<ul class="flex flex-column align-start gap-half margin-none unpad">
  <%= form.collection_check_boxes \
        :subscribed_actions,
        webhook_action_options,
        :first,
        :last do |item| %>
    <li class="list-style-none margin-none">
      <label class="toggler__visible-when-off flex align-center gap cursor-pointer">
        <span class="switch txt-x-small flex-item-no-shrink">
          <%= item.check_box(class: "switch__input") %>
          <span class="switch__btn round"></span>
        </span>
        <span class="min-width"><%= item.text %></span>
      </label>
    </li>
  <% end %>
</ul>
