@layer reset, base, components, modules, utilities;

:root {
  /* Spacing */
  --inline-space: 1ch;
  --inline-space-half: calc(var(--inline-space) / 2);
  --inline-space-double: calc(var(--inline-space) * 2);
  --block-space: 1rem;
  --block-space-half: calc(var(--block-space) / 2);
  --block-space-double: calc(var(--block-space) * 2);

  /* Text */
  --text-xx-small: 0.55rem;
  --text-x-small: 0.7rem;
  --text-small: 0.8rem;
  --text-normal: 1rem;
  --text-medium: 1.1rem;
  --text-large: 1.5rem;
  --text-x-large: 1.8rem;
  --text-xx-large: 2.5rem;

  /* Borders */
  --border: 1px solid var(--color-subtle);

  /* Shadows */
  --shadow: 0 0 0 1px oklch(var(--lch-black) / 0.02),
            0 .2em 1.6em -0.8em oklch(var(--lch-black) / 0.2),
            0 .4em 2.4em -1em oklch(var(--lch-black) / 0.3),
            0 .4em .8em -1.2em oklch(var(--lch-black) / 0.4),
            0 .8em 1.2em -1.6em oklch(var(--lch-black) / 0.5),
            0 1.2em 1.6em -2em oklch(var(--lch-black) / 0.6);

  /* Components */
  --btn-size: 2.65em;

  /* Color values */
  --lch-black: 0% 0 0;
  --lch-white: 100% 0 0;

  --lch-ink-inverted: var(--lch-white);

  --lch-ink-darkest: 32% 0.008 260;
  --lch-ink-darker: 42% 0.007 260;
  --lch-ink-dark: 56.5% 0.006 260;
  --lch-ink-medium: 70% 0.005 260;
  --lch-ink-light: 84% 0.004 260;
  --lch-ink-lighter: 92% 0.003 260;
  --lch-ink-lightest: 96% 0.002 260;

  --lch-uncolor-darkest: 32% 0.018 40;
  --lch-uncolor-darker: 42% 0.03 50;
  --lch-uncolor-dark: 58% 0.04 60;
  --lch-uncolor-medium: 70% 0.044 70;
  --lch-uncolor-light: 84% 0.028 80;
  --lch-uncolor-lighter: 92% 0.014 90;
  --lch-uncolor-lightest: 96% 0.012 100;

  --lch-red-darkest: 32% 0.105 34;
  --lch-red-darker: 43.1% 0.166 36;
  --lch-red-dark: 59% 0.19 38;
  --lch-red-medium: 70.4% 0.19 40;
  --lch-red-light: 84% 0.07 42;
  --lch-red-lighter: 92% 0.03 44;
  --lch-red-lightest: 96% 0.013 48;

  --lch-yellow-darkest: 32% 0.0729 40;
  --lch-yellow-darker: 42% 0.124 50;
  --lch-yellow-dark: 58% 0.156 60;
  --lch-yellow-medium: 76% 0.17 70;
  --lch-yellow-light: 84% 0.12 80;
  --lch-yellow-lighter: 92% 0.076 90;
  --lch-yellow-lightest: 96% 0.034 100;

  --lch-lime-darkest: 32% 0.066 109;
  --lch-lime-darker: 42% 0.104 110;
  --lch-lime-dark: 56.5% 0.142 111;
  --lch-lime-medium: 71% 0.158 112;
  --lch-lime-light: 84% 0.08 113;
  --lch-lime-lighter: 92% 0.046 114;
  --lch-lime-lightest: 96% 0.034 115;

  --lch-green-darkest: 32% 0.0705 149;
  --lch-green-darker: 42% 0.12 148;
  --lch-green-dark: 55.5% 0.162 147;
  --lch-green-medium: 70% 0.19 146;
  --lch-green-light: 84% 0.07 145;
  --lch-green-lighter: 92% 0.044 144;
  --lch-green-lightest: 96% 0.022 143;

  --lch-aqua-darkest: 32% 0.059 214;
  --lch-aqua-darker: 42% 0.097 212;
  --lch-aqua-dark: 55.5% 0.122 210;
  --lch-aqua-medium: 70% 0.13 208;
  --lch-aqua-light: 84% 0.04 206;
  --lch-aqua-lighter: 92% 0.02 204;
  --lch-aqua-lightest: 96% 0.012 202;

  --lch-blue-darkest: 32% 0.106 264;
  --lch-blue-darker: 42% 0.166 262;
  --lch-blue-dark: 57% 0.19 260;
  --lch-blue-medium: 70% 0.169 258;
  --lch-blue-light: 84% 0.06 256;
  --lch-blue-lighter: 92% 0.026 254;
  --lch-blue-lightest: 96% 0.016 252;

  --lch-violet-darkest: 32% 0.144 292;
  --lch-violet-darker: 42% 0.2 290;
  --lch-violet-dark: 58% 0.216 288;
  --lch-violet-medium: 70% 0.178 286;
  --lch-violet-light: 84% 0.07 284.3;
  --lch-violet-lighter: 92% 0.03 282;
  --lch-violet-lightest: 96% 0.015 280;

  --lch-purple-darkest: 32% 0.127 314;
  --lch-purple-darker: 42% 0.178 312;
  --lch-purple-dark: 58% 0.21 310;
  --lch-purple-medium: 70% 0.22 308;
  --lch-purple-light: 84% 0.07 306;
  --lch-purple-lighter: 92% 0.03 304;
  --lch-purple-lightest: 96% 0.019 302;

  --lch-pink-darkest: 32% 0.12 348;
  --lch-pink-darker: 42% 0.16 346;
  --lch-pink-dark: 59% 0.188 344;
  --lch-pink-medium: 70% 0.198 342;
  --lch-pink-light: 84% 0.07 340;
  --lch-pink-lighter: 92% 0.03 338;
  --lch-pink-lightest: 96% 0.02 336;




  /* Color abstractions */
  --color-black: oklch(var(--lch-black));
  --color-white: oklch(var(--lch-white));

  --color-canvas: oklch(var(--lch-white));

  --color-ink: oklch(var(--lch-ink));

  --color-ink-inverted: oklch(var(--lch-ink-inverted));

  --color-negative: oklch(var(--lch-red-dark));
  --color-positive: oklch(var(--lch-green-medium));
  --color-positive-light: oklch(var(--lch-green-lightest));

  --color-link: oklch(var(--lch-blue-dark));
  --color-subtle-light: oklch(var(--lch-ink-lightest));
  --color-subtle: oklch(var(--lch-ink-lighter));
  --color-subtle-dark: oklch(var(--lch-ink-medium));
  --color-selected: oklch(var(--lch-blue-lighter));
  --color-selected-dark: oklch(var(--lch-blue-light));
  --color-highlight: oklch(var(--lch-yellow-lighter));
  --color-marker: oklch(var(--lch-red-medium));
  --color-container: oklch(var(--lch-aqua-light));
  --color-golden: oklch(var(--lch-yellow-light));

  @media (prefers-color-scheme: dark) {
    --lch-ink: 100% 0 0;
    --lch-ink-inverted: 0% 0 0;
    --lch-ink-lightest: 25.2% 0 0;
    --lch-ink-lighter: 30.12% 0 0;
    --lch-ink-medium: 44.95% 0 0;
    --lch-blue-dark: 72.25% 0.16 248;
    --lch-blue-lighter: 28.11% 0.053 248;
    --lch-blue-light: 42.25% 0.07 248;
    --lch-red-dark: 73.8% 0.184 29.18;
    --lch-green-medium: 75% 0.21 141.89;
    --lch-green-lightest: 28.11% 0.02 142.49;
    --lch-yellow-lighter: 40.9% 0.06 88.9;
    --lch-aqua-light: 20.62% 0.048 216.62;

    --shadow: 0 0 0 1px oklch(var(--lch-black) / 0.42),
              0 .2em 1.6em -0.8em oklch(var(--lch-black) / 0.6),
              0 .4em 2.4em -1em oklch(var(--lch-black) / 0.7),
              0 .4em .8em -1.2em oklch(var(--lch-black) / 0.8),
              0 .8em 1.2em -1.6em oklch(var(--lch-black) / 0.9),
              0 1.2em 1.6em -2em oklch(var(--lch-black) / 1);
  }
}
