.events {
  border-block-start: 1px solid var(--color-subtle);
  display: grid;
  gap: var(--block-space-half);
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: auto;
  overflow: hidden;
  padding-block-start: var(--block-space);

  h3 {
    font-size: var(--font-size-small);
  }
}

.events--none {
  padding: calc(3 * var(--block-space));
}
