<% if workflow && bubble.stage.present? %>
  <div id="<%= dom_id(bubble, "stages") %>" class="card__stages flex flex-column max-width min-width pad-block">
    <% workflow.stages.each do |stage| %>
      <%= button_to_set_stage bubble, stage %>
    <% end %>
  </div>
<% end %>
