<!DOCTYPE html>
<html>
  <%= render "layouts/shared/head" %>

  <body class="public" data-controller="local-time timezone-cookie" data-action="turbo:morph@window->local-time#refreshAll">
    <header id="header">
      <a href="#main" class="skip-navigation btn" data-turbo="false">Skip to main content</a>
      <%= yield :header %>
    </header>

    <main id="main">
      <%= yield %>
    </main>

    <footer id="footer">
      <%= yield :footer %>
    </footer>
  </body>
</html>